{% extends "app/layout.html" %}

{% block content %}
<div class="paymentform">
    <h2><strong>Payment Page</strong></h2>
    <form method="POST" action="{% url 'processpayment' %}">
        {% csrf_token %}

        <p><strong>Order ID:</strong> {{ order_id }}</p>
        <input type="hidden" name="order_id" value="{{ order_id }}">

        <p><strong>Total Amount:</strong> ${{ total_amount }}</p>
        <input type="hidden" name="total_amount" value="{{ total_amount }}">

        <label for="payment_method">Payment Method:</label>
        <select name="payment_method" required>
            <option value="Credit">Credit</option>
            <option value="Cash">Cash</option>
            <option value="Ewallet">Ewallet</option>
        </select>
        <br>

        <button type="submit" class="btn btn-info">Make Payment</button>
    </form>
</div>
{% endblock %}
