{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Online Petrol Delivery System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p> <hr>
            Customer <br> <br> <br> <br> <hr>
            Driver <br> <br> <br> <br> <hr>
            Vendor <br> <br> <br> <br> 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p> <hr>
            Create New Order <br>
            Edit Order <br>
            View Order History <br>
            Change Account Details <br>
            <hr>
        </p>
        <p>
            View Delivery Routes <br>
            Accept/Decline Order <br>
            View Orders <br>
            Update Order Status <br>
            <hr>
        </p>
        <p>
            Submit Availability Status <br>
            Generate Report <br>
            Accept/Decline Order <br>
            View Orders <br>
        </p>
    </div>
</div>

{% endblock %}
