{% extends "app/layout.html" %}

{% block content %}

<div>
    <br />
    {% if is_customer %}
         <h2><strong>Customer Menu</strong></h2>
    {% elif is_driver %}
         <h2><strong>Driver Menu</strong></h2>
    {% endif %}

    <br />  
    <table>
    {% if is_customer %}
        <tr><td>
        <form class="margintop" action='createorderform' method='GET'>
            <button type="submit" class="btn btn-info">Create Order</button><br />
        </form>
        </td></tr>
            
        <tr><td>
        <form class="margintop" action= 'listorders' method='GET'>
        <button type="submit" class="btn btn-info">Edit Order</button><br />
        </form>
        </td></tr>

        <tr><td>
        <form class="margintop" action= 'vieworders' method='GET'>
        <button type="submit" class="btn btn-info">View Order</button><br />
        </form>
        </td></tr>

        <tr><td>
            <form class="margintop" action= 'editaccountdetails' method='GET'>
            <button type="submit" class="btn btn-info">Edit Account Details</button><br />
            </form>
        </td></tr>

    {% elif is_driver %}            
        <tr><td>
    <form class="margintop" action='acceptdeclineorder' method='GET'>
        <button type="submit" class="btn btn-info">Accept/Decline Order</button><br />
    </form>
        </td></tr>
            
        <tr><td>
    <form class="margintop" action='viewordersdriver' method='GET'>
        <button type="submit" class="btn btn-info">View Order History</button><br />
    </form>
        </td></tr>

    <tr><td>
        <form class="margintop" action='completeorcancelorder' method='GET'>
            <button type="submit" class="btn btn-info">Update Order Status</button><br />
        </form>
    </td></tr>

    <tr><td>
        <form class="margintop" action='driverperformance' method='GET'>
            <button type="submit" class="btn btn-info">Update Order Status</button><br />
        </form>
    </td></tr>

    {% elif is_vendor %}            
        <tr><td>
    <form class="margintop" action='acceptdeclineorder' method='GET'>
        <button type="submit" class="btn btn-info">Accept/Decline Order</button><br />
    </form>
        </td></tr>
            
        <tr><td>
    <form class="margintop" action='viewordersdriver' method='GET'>
        <button type="submit" class="btn btn-info">View Order History</button><br />
    </form>
        </td></tr>

    <tr><td>
        <form class="margintop" action='completeorcancelorder' method='GET'>
            <button type="submit" class="btn btn-info">Update Order Status</button><br />
        </form>
    </td></tr>

    <tr><td>
        <form class="margintop" action='driverperformance' method='GET'>
            <button type="submit" class="btn btn-info">Update Order Status</button><br />
        </form>
    </td></tr>
                      
    {% else %}            

        <tr><td>
            <p>Undefined User.</p>
        </td></tr>
            
    {% endif %}            
    </table>
</div>

{% endblock %}
 