{% extends "app/layout.html" %}

{% block content %}
<br>
<h2><strong>Accept or Decline Orders</strong></h2>

{% if orders %}
    <table border="1">
        <tr>
            <th style="padding: 10px; text-align: center;">Order ID</th>
            <th style="padding: 10px; text-align: center;">Customer ID</th>
            <th style="padding: 10px; text-align: center;">Petrol Type</th>
            <th style="padding: 10px; text-align: center;">Quantity</th>
            <th style="padding: 10px; text-align: center;">Total Amount</th>
            <th style="padding: 10px; text-align: center;">Status</th>
            <th style="padding: 10px; text-align: center;">Accept</th>
            <th style="padding: 10px; text-align: center;">Decline</th>
        </tr>   
        {% for order in orders %}
        <tr>
            <td style="padding: 10px; text-align: center;">{{ order.order_id }}</td>
            <td style="padding: 10px; text-align: center;">{{ order.customer_id }}</td>
            <td style="padding: 10px; text-align: center;">{{ order.petrol_type }}</td>
            <td style="padding: 10px; text-align: center;">{{ order.quantity }}</td>
            <td style="padding: 10px; text-align: center;">{{ order.total_amount }}</td>
            <td style="padding: 10px; text-align: center;">{{ order.order_status }}</td>
            <td style="padding: 10px; text-align: center;">
                <a href="{% url 'updateorderstatusdriver' order.order_id 'accept' %}">
                    <button style="background-color : green;">Accept</button>
                </a>
            </td>
            <td style="padding: 10px; text-align: center;">
                <a href="{% url 'updateorderstatusdriver' order.order_id 'decline' %}">
                    <button style="background-color : red;">Decline</button>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">No available orders to accept.</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No orders to display.</p>
{% endif %}

<br>

<a href="{% url 'menu' %}">
    <button class="btn btn-info">Return to Home</button>
</a>

{% endblock %}
